XSL/ejemplo-pag-204/mensajes.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- declaracion XML-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><!--esto se pone así SIEMPRE-->
    <xs:element name="mensajes"><!-- elemento raíz-->
        <xs:complexType><!-- de tipo complejo porque se compone de otros elemtnso-->
            <xs:sequence><!-- concretamente de la secuencia de elemetnos: de, para, mensaje..-->
                <xs:element name="de" type="xs:string"/><!-- cada elemento, con su nombre y tipo-->
                <xs:element name="para" type="xs:string" />
                <xs:element name="mensaje" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>